body{
	background: #F2F2F2;
	margin: 0;
	font-family: arial;
}

#wrap{
	width: 1024px;
	margin: 5px auto;
	overflow: hidden;
}

#header{
	width: 100px;
	overflow: hidden;
}

.logo{
	background: blue;
	color: #fff;
	margin: 40px 0 0 0;
	padding: 3px;
	text-align: right;
	font-size: 25px;
	font-family: 'Lobster', cursive;
	font-weight: 300;
}
.thumb{
	max-width: 100%;
}
.logo a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#content{
	width: 960px;
	padding: 10px;
	float: left;
	overflow: hidden;
	background: #fff;
	font-size: 14px;
	line-height: 20px;
}

#content p{
	text-align: center;
}

#content h1{
	margin: 10px 0;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	font-family: 'Lobster', cursive;
}
#content h2{
	margin: 10px 0;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	font-family: 'Lobster', cursive;
}
#content h4{
	margin: 10px 0;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	font-family: 'Lobster', cursive;
}
.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}

.img{
	width: 150px;
	height: 150px;
	margin: 5px;
}
.imgs{
	width: 120px;
	height: 120px;
	margin: 5px;
}
#footer{
	background: #BDBDBD;
	padding: 5px;
	clear: both;
	text-align: center;
	width: 790px;
	float: right;
	font-size: 12px;
}

.fm{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.fm li{
    display:inline;
}
.fm a{
    display:inline-block;
  	padding: 0 10px;
    text-decoration: none;
}

#content img{
	max-width: 100%;
}

.left{
	width: 50%;
	float: left;
	overflow: hidden;
}

.right{
	width: 50%;
	float: right;
	overflow: hidden;
}

.search{
clear:both;
margin:10px 0;
}

table{
margin:0 auto;
}
.q {
    border: 2px solid #ccc;
    height: 30px;
    padding: 0 10px;
    width: 600px;
}
.s {
    background: none repeat scroll 0 0 #333;
    border: 2px solid #333;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 34px;
}
.s:hover {
    background: none repeat scroll 0 0 #111;
}
.post {
    border-bottom: 1px solid #ddd;
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.post h3 a {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.post > img {
    border: 1px solid #ddd;
    float: left;
    height: 100px;
    margin: 0 10px 0 0;
    padding: 5px;
    width: 100px;
}

.post h3 {
    margin: 5px 0 10px;
    padding: 0;
}

.post h3 a:hover {
    text-decoration: underline;
}