body {
  /*background: url("../img/sprinkles.png") repeat fixed center center #FFF;*/
  color: #222;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 12px;
}
/* masonry */
.masonry-layout {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-gap: 0;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
}
@media screen and (max-width: 480px) {
  .masonry-layout {
    column-count: ;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}

.masonry-layout-panel {
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
}

/* minitheme new */
.nav-minitheme{
  border-radius: 0px;
  background-color: #FF5722;
  border-color: #FF5722;
  border-bottom: solid 5px #BF360C;
}
.nav-minitheme .nav-brand{
  text-transform: uppercase;
  color: #fff;
}
.nav-minitheme .menu-right{
  padding-top: 10px;
}
.nav-minitheme .menu-right small{
  font-size: 20px;
  color: #fff;
}
.content-wrap{
  background: #F5F5F5;
  padding: 20px;
}
.content-wrap-side{
    background: #F5F5F5;
    padding: 5px;
}
.read-more-img{
  width: 100%;
}
.blockquote p{
  margin: 0;
  font-size: 12px;
  text-transform: capitalize;
}
.blockquote p strong{
  font-size: 12px;
  text-transform: capitalize;
}
.blockquote p i{
  font-size: 12px;
  text-transform: capitalize;
}
/* minitheme  */

#header 
{
  border-bottom:solid 1px #E8E8E8; height:80px;
  font-size:20px ; padding:10px;
}

#logo 
{
  float:left ; margin-right:10px
}
.thumb{
  width: 100%;
  height: auto;
  min-height: 100px;
  margin-bottom: 10px;
}
.title
{
  font-family: "Open Sans", Arial, Helvetica, sans-serif; float-left; margin:5px 0 0 0 ;
  color: #000 !important
}

.desc
{
  font-size:10px; float:left;
  color: #000 !important
}

.keyword a
{
  color:#000;
}

 .caption p, .caption strong, .caption em, .caption u{

    display: inline;
    font-style: initial;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    text-decoration: none;

}
.single-header{
    display: inline;
    font-style: initial;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
}
/*  ----------  */
a {
  color: #ED6E00;
}
a:hover, a:focus, a:active {
  color: #250E06;
  text-decoration: none;
  outline: none;
}

#footer {
  padding-top: 30px;
}
#footer .footlinks a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.identity {
  margin-bottom: 30px;
  text-align: center;
}
.identity .logo {
  background: url("../img/logo.png") scroll no-repeat center center transparent;
  border-bottom: 3px solid #F31B26;
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
}
.identity .name {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: -1px;
}

.thumbnails-wrap {
  margin-bottom: 30px;
}
.thumbnails-wrap a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #000;
  font-weight: 700;
}
.thumbnails-wrap a:hover {
 /*  background-color: #C53E44;
 color: #FFF;
 text-decoration: none;
 outline: none; */
}
.thumbnails-wrap .fancybox {
  /* -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px; */
  /*border-radius: 2px;*/
  /*background-color: #F1EAD5;*/
  border: 1px solid #fff;
  display: block;
  float: left;
  /* margin: 3px;
  padding: 3px; */
  /*width: 19%;*/
}
@media screen and (max-width: 480px) {
  .thumbnails-wrap .fancybox {
    width: 100%;
    float: none;
  }
}
.thumbnails-wrap .fancybox:hover {
  /*border: 1px solid #F31B26;*/
  /*background: #F0F0F0;*/
}
.thumbnails-wrap .thumb {
  width: 100%;
  height: 150px;
}
@media screen and (max-width: 480px) {
  .thumbnails-wrap .thumb {
    height: auto;
  }
}
.thumbnails-wrap .caption {
  display: block;
  height: 20px;
  margin-bottom: 0;
  margin-top: 5px;
  overflow: hidden;
  text-transform: uppercase;
}

.searchform {
  margin-bottom: 30px;
}

.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.btn:hover, .btn:focus, .btn.focus {
  color: #333;
  text-decoration: none;
}

.btn-action {
  background-color: #db8300;
  border-color: #913402;
  color: #fff;
  background-image: -webkit-linear-gradient(top, #db8300 0%, #752f00 100%);
  background-image: -o-linear-gradient(top, #db8300 0%, #752f00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#db8300), to(#752f00));
  background-image: linear-gradient(to bottom, #db8300 0%, #752f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb8300', endColorstr='#ff752f00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-action:hover, .btn-action:focus, .btn-action:active, .btn-action.active {
  background-color: #286090;
  border-color: #913402;
  color: #fff;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-action:hover, .btn-action:focus {
  background-color: #752f00;
  background-position: 0 -15px;
}
.btn-action:active, .btn-action.active {
  background-color: #752f00;
  border-color: #913402;
}
.btn-action:disabled, .btn-action.disabled {
  background-color: #752f00;
  background-image: none;
}

.form-control {
  background-color: #F2ECD6;
  background-image: none;
  border: 1px solid #F2ECD6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset;
  color: #000;
}
.form-control:focus {
  border-color: #C53E44;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(237, 110, 0, 0.6);
}

.post {
  padding-bottom: 15px;
  padding-top: 15px;
}
.post .title a {
  color: #ED6E00;
}
.post .side {
  float: left;
  width: 48%;
}
.post .main {
  float: right;
  width: 48%;
}

.hdiv-wrap {
  margin-bottom: 30px;
  margin-top: 30px;
}
.hdiv-wrap .hdiv {
  width: 25%;
  height: 3px;
  float: left;
}
.hdiv-wrap .a {
  background-color: #FF0000;
}
.hdiv-wrap .b {
  background-color: #FADE91;
}
.hdiv-wrap .c {
  background-color: #BD972E;
}
.hdiv-wrap .d {
  background-color: #FB9301;
}

.plainlist {
  list-style-type: none;
}
.plainlist li a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  display: block;
  margin: 2px;
  padding: 3px 7px;
  color: #000;
}
.plainlist li a:hover {
  background-color: #D26D00;
  outline: none;
  text-decoration: none;
}
.plainlist li a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.nom {
  margin: 0 !important;
}

.nomt {
  margin-top: 0 !important;
}

.nomb {
  margin-bottom: 0 !important;
}

.noml {
  margin-left: 0 !important;
}

.nomr {
  margin-right: 0 !important;
}

.nop {
  padding: 0 !important;
}

.nopt {
  padding-top: 0 !important;
}

.nopb {
  padding-bottom: 0 !important;
}

.nopl {
  padding-left: 0 !important;
}

.nopr {
  padding-right: 0 !important;
}

.nob {
  border: none !important;
}

.nobt {
  border-top: none !important;
}

.nobb {
  border-bottom: none !important;
}

.nobl {
  border-left: none !important;
}

.nobr {
  border-right: none !important;
}
