$background-color: #EEE;
$background-hover-color: #D26D00; 
$text-color: #222;
$margin: 30px;
$link-color-soft: #FBCC0F;

$link-color-onlite: #ED6E00;
$link-color-onlite-hover: #250E06;
$link-color-ondark: #250E06;
$link-color-ondark-hover: #250E06;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition() {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
} 

body {
  background: url("../img/sprinkles.png") repeat fixed center center #FFF;
  color: $text-color;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

#wrap {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 30px;
  padding-top: 30px;
}

a {
  color: $link-color-onlite;
  &:hover, &:focus, &:active {
    color: $link-color-onlite-hover;
    text-decoration: none;
    outline: none;
  }
}

#footer {
  padding-top: $margin;

  .footlinks {
    a {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.identity {
  margin-bottom: $margin;
  text-align: center;

  .logo {
    background: url("../img/logo.png") scroll no-repeat center center transparent;
    border-bottom: 3px solid #F31B26;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin-bottom: $margin;
  }

  .name {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: -1px;
  }

  a {
    &:hover {

    }
  }
}

.thumbnails-wrap {

  margin-bottom: $margin;

  a {
    @include transition();
    color: #000;
    font-weight: 700; 

    &:hover {
      background-color: #C53E44;
      color: #FFF;
      text-decoration: none;
      outline: none;
    }
  }

  .fancybox { 
    @include border-radius(2px);
    background-color: #F1EAD5;
    border: 1px solid #D8CBA6;
    display: block;
    float: left;
    margin: 3px;
    padding: 3px;
    width: 32%;

    @media screen and (max-width: 480px) {
      width: 100%;
      float: none;
    }

    &:hover {
      border: 1px solid #F31B26;
    }
  }

  .thumb {
    width: 100%;
    height: 150px;

    @media screen and (max-width: 480px) {
      height: auto;
    }
  }

 .caption {
    display: block;
    height: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    overflow: hidden;
    text-transform: uppercase;
  }
  
}


.searchform {
  margin-bottom: $margin;
}

.btn {
  @include border-radius(2px);

  &:hover, &:focus, &.focus {
    color: #333;
    text-decoration: none;
  }

}

.btn-action {

  background-color: #db8300;
  border-color: #913402;
  color: #fff;
  background-image: -webkit-linear-gradient(top, #db8300 0%, #752f00 100%);
  background-image:      -o-linear-gradient(top, #db8300 0%, #752f00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#db8300), to(#752f00));
  background-image:         linear-gradient(to bottom, #db8300 0%, #752f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb8300', endColorstr='#ff752f00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);

  &:hover, &:focus, &:active, &.active {
    background-color: #286090;
    border-color: #913402;
    color: #fff;

    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }

  &:hover, &:focus {
    background-color: #752f00;
    background-position: 0 -15px;
  }

  &:active, &.active {
    background-color: #752f00;
    border-color: #913402;
  }

  &:disabled, &.disabled {
    background-color: #752f00;
    background-image: none;
  }
}


.form-control {
  background-color: #F2ECD6; 
  background-image: none;
  border: 1px solid #F2ECD6;
  @include border-radius(2px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset;
  color: #000;

  &:focus {
    border-color: #C53E44;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(237, 110, 0, 0.6);
  }
}

.post {
  padding-bottom: 15px;
  padding-top: 15px;

  .title {
    a {
      color: $link-color-onlite;
    }
  }

  .side {
    float: left;
    width: 48%;
  }

  .main {
    float: right;
    width: 48%;
  }
}

.hdiv-wrap {

  margin-bottom: $margin; 
  margin-top: $margin;

  .hdiv {
    width: 25%;
    height: 3px;
    float: left;
  }
  .a {
    background-color: #FF0000;
  }
  .b {
    background-color: #FADE91;
  }
  .c {
    background-color: #BD972E;
  }
  .d {
    background-color: #FB9301;
  }
}


.plainlist {
  list-style-type: none;

  li {

    a {
      @include transition();
      @include border-radius(2px);

      background-color: #C53E44;
      display: block;
      margin: 2px;
      padding: 3px 7px;
      color: #FFF;
      text-shadow: 1px 1px 0 #7B030B;
      
      &:hover {
        background-color: $background-hover-color;
        outline: none;
        text-decoration: none;
      }

      &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.nom {
  margin: 0 !important;
}
.nomt {
  margin-top: 0 !important;
}
.nomb {
  margin-bottom: 0 !important;
}
.noml {
  margin-left: 0 !important;
}
.nomr {
  margin-right: 0 !important;
}

.nop {
  padding: 0 !important;
}
.nopt {
  padding-top: 0 !important;
}
.nopb {
  padding-bottom: 0 !important;
}
.nopl {
  padding-left: 0 !important;
}
.nopr {
  padding-right: 0 !important;
}

.nob {
  border: none !important;
}
.nobt {
  border-top: none !important;
}
.nobb {
  border-bottom: none !important;
}
.nobl {
  border-left: none !important;
}
.nobr {
  border-right: none !important;
}