html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video,
hr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    background: #E6E7E8;
    font-family: 'Roboto', sans-serif;
    color: #555
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, sans-serif
}

a {
    text-decoration: none
}

#pp {
    padding: 25px;
}

#pp ul li {
    list-style: none;
}

,
a:hover {
    color: #F50057
}

strong,
em,
u {
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

.r {
    clear: both
}

#n {
    background: #00AEEF;
    width: 100%
}

.m0 {
    margin: 0 auto;
    height: 20px;
    padding: 15px 0;
    position: relative
}

.m0 .fa {
    float: left;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: -15px
}

.h1 a {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.h1 {
    position: relative;
    color: #fff;
    text-transform: capitalize;
    float: left;
    margin-left: 5px
}

.mn {
    width: 300px;
    height: auto;
    background: #0698DD;
    position: absolute;
    top: -999px;
    left: 0;
    z-index: 3
}

.mn ul {
    padding: 15px 5px;
    list-style: none
}

.mn li {
    padding: 0 15px;
    margin-bottom: 15px
}

.mn li a {
    color: #fff
}

#mn:hover .fa,
#s1 .fa {
    background: #0698DD
}

#mn:hover .mn {
    top: 50px
}

#s1 {
    float: right;
    position: relative;
    color: #fff
}

#s1 .fa {
    float: right;
    border: none;
    padding: 15px
}

#s2 {
    width: 270px;
    height: auto;
    background: #0698DD;
    position: absolute;
    top: -999px;
    right: 0;
    z-index: 3;
    padding: 15px
}

#s1:hover #s2 {
    top: 35px
}

#s3 {
    border: none;
    width: 160px;
    padding: 5px 15px
}

#s4 {
    border: none;
    padding: 5px 15px;
    background: #00AEEF;
    color: #fff
}

#a {
    margin: 15px auto 15px
}

.c,
.d,
.cf {
    width: 300px;
    float: left;
    background: #fff;
    margin-right: 15px;
    margin-bottom: 15px
}

.cf {
    margin-right: 0
}

.gi {
    position: relative;
    height: 250px;
    overflow: hidden
}

.gi img {
    width: 300px;
    height: 250px
}

.is {
    position: relative;
    overflow: hidden
}

.is img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.is:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.gi a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2
}

.gi:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #222;
    background: -webkit-linear-gradient(rgba(34, 34, 34, 0) 54%, rgba(34, 34, 34, .2) 71%, rgba(34, 34, 34, .4) 80%, rgba(34, 34, 34, .6) 90%, rgba(34, 34, 34, .8));
    background: -o-linear-gradient(rgba(34, 34, 34, 0) 54%, rgba(34, 34, 34, .2) 71%, rgba(34, 34, 34, .4) 80%, rgba(34, 34, 34, .6) 90%, rgba(34, 34, 34, .8));
    background: -moz-linear-gradient(rgba(34, 34, 34, 0) 54%, rgba(34, 34, 34, .2) 71%, rgba(34, 34, 34, .4) 80%, rgba(34, 34, 34, .6) 90%, rgba(34, 34, 34, .8));
    background: linear-gradient(rgba(34, 34, 34, 0) 54%, rgba(34, 34, 34, .2) 71%, rgba(34, 34, 34, .4) 80%, rgba(34, 34, 34, .6) 90%, rgba(34, 34, 34, .8))
}

.ct {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #fff;
    border: 1px solid #00AEEF;
    padding: 5px 10px;
    z-index: 3;
    font-size: 12px;
    letter-spacing: 1px
}

.li {
    position: absolute;
    right: 0;
    top: -16px
}

.li a {
    color: #00AEEF
}

.c:hover .ct {
    background: #00AEEF;
    color: #fff
}

.cp {
    position: relative;
    padding: 15px;
    color: #818181
}

.ch {
    text-align: center
}

.ch a {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0
}

.hh {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    text-transform: capitalize
}

.c:hover .hh,
.d:hover .hh {
    color: #F50057
}

.ah {
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px
}

.ah i {
    margin-right: 5px;
    color: #F50057
}

.m5 {
    margin-left: 10px
}

.pn {
    width: 300px;
    float: right;
    margin-bottom: 15px
}

.pn a {
    color: #fff
}

.nx,
.pv {
    padding: 10px 20px;
    background: #F50057;
    float: right;
    margin-left: 1px;
    font-style: normal;
    color: #fff;
    font-size: 12px
}

.nx:hover,
.pv:hover {
    background: #00AEEF
}

.vn {
    width: 100px;
    overflow: hidden;
    color: #F50057;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -16px
}

.vn a {
    color: #F50057
}

#i,
#p {
    float: left;
    background: #fff;
    margin-bottom: 15px;
    color: #555
}

#i blockquote {
    margin: 15px;
    font-size: 14px;
    border: 1px solid #dedede;
    padding: 15px;
    text-transform: lowercase;
    font-style: italic
}

#i figure {
    margin-bottom: 15px;
    position: relative
}

a.al {
    position: absolute;
    bottom: 23px;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    color: #fff
}

a.al:hover {
    color: #00AEEF
}

h1.rs {
    padding: 0 15px;
    text-transform: capitalize
}

#bc {
    padding: 5px 15px 15px;
    font-size: 11px;
    font-style: normal
}

#bc i {
    font-style: normal;
    text-transform: lowercase
}

#bc a {
    color: #00AEEF
}

#i .h4 {
    margin: 5px 15px;
    font-size: 12px;
    text-transform: lowercase;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#i h1 {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#i img {
    width: 100%;
    height: auto;
    max-height: 345px
}

.sn {
    float: right;
    margin: 5px 15px;
    height: 30px
}

.sn a {
    color: #fff;
    font-size: 12px;
    background: #F50057;
    padding: 10px 15px;
    margin-left: 1px
}

.sn a:hover {
    background: #00AEEF
}

.ba {
    float: left
}

.ba a {
    background: #818181
}

.ba a:hover {
    background: #F50057
}

.tg {
    margin: 15px;
    padding: 15px;
    border: 1px solid #dedede;
    font-size: 14px
}

.tg b {
    margin-right: 5px
}

.tg a {
    margin-right: 5px;
    color: #818181;
    font-size: 14px
}

.tg a:hover,
.p a:hover {
    color: #F50057
}

#g {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    background: #fff
}

#g img {
    width: 100%;
    height: auto
}

#g h1 {
    background: #fff;
    padding: 15px 15px 5px
}

#t {
    float: right;
    background: #fff;
    position: relative;
    margin-bottom: 15px
}

#t ul {
    padding: 0 15px;
    list-style: none
}

#t li {
    padding: 0 15px 15px;
    position: relative
}

#t li:before,
.p li:before {
    position: absolute;
    content: '\f101';
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #818181;
    left: 0px;
    top: 0px
}

#t h4 {
    margin: 15px;
    border-bottom: 1px solid #dedede;
    text-align: center;
    padding-bottom: 15px
}

#t a {
    color: #818181;
    font-size: 14px
}

#v {
    overflow: hidden;
    float: left
}

#v .d:nth-child(2n) {
    margin-right: 0
}

h1.rh {
    background: #fff;
    padding: 15px
}

.bc {
    background: #fff;
    padding: 0 15px 15px !important
}

#fr img,
#rp img,
.rf img,
#rc img {
    width: 120px;
    height: 120px
}

#rp,
.rf {
    padding: 15px
}

.rf .di,
#rc .di {
    width: 100%
}

.rf .di,
#rc .di,
#rp .di {
    height: 120px;
    margin-bottom: 5px;
    position: relative
}

.di a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

#rp p,
.rf p,
#rc p {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px
}

.rf p,
#rc p {
    text-align: left
}

#rp .hd,
.rf .hd,
#rc .hd {
    border: none;
    float: right;
    width: 140px;
    color: #818181;
    font-size: 14px;
    font-weight: normal;
    height: 80px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    margin: 0
}

.rf .hd {
    font-size: 16px;
    color: #555;
    height: 74px
}

#rp .rg,
.rf .rg,
#rc .rg {
    float: left;
    width: 120px
}

.rc-l{
    width: 336px !important;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 !important;
    height: 280px;
}

.rc-r{
    width: 270px !important;
    margin-right: 3px;
    padding: 0 !important;
}
#rc {
    width: 270px;
    padding: 15px 0 15px 15px;
    float: left
}

#rp .di:hover .hd,
#rc .di:hover .hd,
#fr:hover .hd,
.rf .di:hover .hd,
#t li:hover a,
.cf li:hover a {
    color: #F50057
}

#fr {
    width: 100%;
    margin-bottom: 15px
}

#fr img {
    width: 100%;
    height: auto
}

#fr .di {
    background: #fff;
    position: relative
}

#fr .hd {
    text-align: center;
    padding: 15px;
    color: #777;
    text-transform: capitalize
}

.p {
    padding: 15px
}

.p h3 {
    margin: 15px 0
}

.p ul {
    list-style: none
}

.p li {
    position: relative
}

.p li {
    padding-left: 15px
}

.p a {
    color: #818181
}

#s {
    width: 100%;
    background: #fff;
    position: relative;
    border-top: 1px solid #F50057;
    background: #fff;
    padding: 15px 0
}

.cf .mu {
    padding: 15px;
    border-bottom: 1px solid #dedede;
    font-weight: bold
}

.cf ul {
    padding: 15px;
    list-style: none
}

.cf li a {
    color: #818181;
    margin-left: 5px
}

#ipt {
    width: 100%;
    padding: 15px 0;
    background: #C5EFF7;
    color: #fff;
    font-size: 12px;
    text-align: center
}

#ipt a {
    font-size: 12px;
    color: #fff
}

#st {
    width: 100%;
    padding: 15px 0;
    background: #00AEEF;
    color: #fff;
    font-size: 12px;
    text-align: center
}

#st a {
    font-size: 12px;
    color: #fff
}

.s {
    margin: 0 auto;
    text-align: center;
}

.ab {
    width: 100%;
    height: 378px
}

.ds {
    width: 100%;
    height: 90px;
    padding: 5px 0
}

.ki {
    width: 100%;
    margin: 5px 0;
    height: 410px
}

.kt {
    width: 100%;
    margin: 5px 0;
    height: 600px
}

@media screen and (min-width:320px) {
    #a,
    .m0,
    .s,
    #i,
    #v {
        width: 300px
    }
    .h1 {
        width: 85px;
        height: 20px;
        overflow: hidden
    }
    #t {
        width: 300px
    }
}

@media screen and (min-width:768px) {
    #a,
    .m0,
    .s,
    #i,
    #v,
    #t {
        width: 615px
    }
    .c:nth-child(2n) {
        margin-right: 0
    }
    #rp .di {
        width: 270px;
        float: left;
        margin-right: 15px
    }
}

@media screen and (min-width:980px) {
    #a,
    .m0,
    .s {
        width: 930px
    }
    #i,
    #v,
    #p {
        width: 615px
    }
    .c:nth-child(2n) {
        margin-right: 15px
    }
    .c:nth-child(3n) {
        margin-right: 0
    }
    #t {
        width: 300px
    }
    #rp .di {
        width: 100%
    }
    .h1 {
        width: 300px
    }
}